APP_PORT=5000
APP_NAME=API

USER=user
PASSWORD=password
HOST=host
PORT=port
DATABASE=db
CA_PEM=capemstring
SSL_REQUIRE=0
USER_SECRET_KEY=密码
ADMIN_SECRET_KEY=2837827
STMP_HOST=gmail
STMP_USER=emailbisnis
STMP_PASSWORD=passworddiatas
GOOGLE_CLIENT_ID=cukupjelas
GOOGLE_CLIENT_SECRET=cukupjelas
FE_ADMIN_BASE_URL=cukupjelas
FE_USER_BASE_URL=cukupjelas
BE_BASE_URL=cukupjelas