APP_PORT=5000
APP_NAME=API

NODE_ENV=development

#   Database stuff
USER=user
PASSWORD=password
HOST=host
PORT=port
DATABASE=db
CA_PEM=capemstring
SSL_REQUIRE=0

#   Secret Keys
USER_SECRET_KEY=7248nfq73t12bo0czfp234954
ADMIN_SECRET_KEY=bgiy3s6drsvih1hhfge

#   Data with which to send email verifications
STMP_HOST=gmail
STMP_USER=emailbisnis
STMP_PASSWORD=passworddiatas

#   For Google stuff
GOOGLE_CLIENT_ID=cukupjelas
GOOGLE_CLIENT_SECRET=gak dipakai for now

#   Base URLS for deployment
FE_ADMIN_BASE_URL="http://localhost:4000"
FE_USER_BASE_URL="http://localhost:3000"
BE_BASE_URL="http://localhost:5000"

#   Super Admin Stuff
ADMIN_ACCOUNT_EMAIL=super@email.com
ADMIN_ACCOUNT_PASSWORD=supersupersuper

#   Midtrans stuff
SERVER_KEY=ffhjf