<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <script>
        function decodeJWT(token) {

            let base64Url = token.split(".")[1];
            let base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
            let jsonPayload = decodeURIComponent(
                atob(base64)
                    .split("")
                    .map(function (c) {
                        return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                    })
                    .join("")
            );
            return JSON.parse(jsonPayload);
        }

        function handleCredentialResponse(response) {

            // console.log(response)
            // console.log("Encoded JWT ID token: " + response.credential);

            // const responsePayload = decodeJWT(response.credential);

            // console.log("Decoded JWT ID token fields:");
            // console.log("  Full Name: " + responsePayload.name);
            // console.log("  Given Name: " + responsePayload.given_name);
            // console.log("  Family Name: " + responsePayload.family_name);
            // console.log("  Unique ID: " + responsePayload.sub);
            // console.log("  Profile image URL: " + responsePayload.picture);
            // console.log("  Email: " + responsePayload.email);

            fetch("http://localhost:5000/api/auth/user/google", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    token: response.credential,
                })
            })
                .then(async response => {
                    if (!response.ok) {
                        const data = await response.json();
                        throw new Error(`HTTP error! status: ${response.status}\n
                                        message: ${JSON.stringify(data)}
                        `);
                    }
                    else if (response.ok) {
                        window.location.href = "http://localhost:3000/home"
                    }
                })
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>

<body>
    <!-- g_id_onload contains Google Identity Services settings -->
    <!-- google client id sebenarnya sifatnya publik tapi ak sengaja redact aja -->
    <div id="g_id_onload" data-auto_prompt="false" data-callback="handleCredentialResponse" data-client_id="REDACTED">
    </div>
    <!-- g_id_signin places the button on a page and supports customization -->
    <div class="g_id_signin"></div>
</body>

</html>